.navbar ul {
  margin: 0;
  list-style-type: none;
  overflow: hidden;
}
.navbar li {
  display: inline-block;
  margin-left: 1.5em;
  font-size: 1.5em;
  cursor: pointer;
}
.navbar a {
  color: white;
  font-size: 1.3em;
  text-decoration: none;
}
.navbar hr {
  color: white;
  background-color: white;
}
